@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans');

:root {
    --brand: #ca5fff;
    --red: #ff3939;
    --green: #10c45b;
    --blue: #3676ed;

        --z: #000;
        --y: #111;
        --x: #222;
        --w: #333;
        --v: #444;
        --u: #555;
    
        --d: #ccc;
        --c: #ddd;
        --b: #eee;
        --a: #fff;
}

body {
    color: var(--x);
    background-color: var(--b);
    font-family: 'Nunito Sans', sans-serif;
}

/* ------------------------------- */

@media (prefers-color-scheme: dark) {
    :root {
        --brand: #ca5fff;

        --z: #fff;
        --y: #eee;
        --x: #ddd;
        --w: #ccc;
        --v: #bbb;
        --u: #aaa;
    
        --d: #333;
        --c: #222;
        --b: #111;
        --a: #000;
    }
}

/* ------------------------------- */

.main { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_contents {
    display: flex;
    flex-wrap: wrap-reverse;
}

.main_contents > div {
    margin: 5px;
}

/* Links */
.link {
    background-position-y: -0%;
    background-image: linear-gradient(180deg, transparent 50%, var(--x) 50%) !important;
    transition: all 0.2s cubic-bezier(0.61, 1, 0.88, 1);;

    background-size: auto 200%;
    padding: 2px 0;
    text-decoration: underline;
    color: inherit;
}

.link:hover {
    background-position-y: 100%;
    color: var(--b);
    transition: all 0.2s cubic-bezier(0.61, 1, 0.88, 1);;
}

/* Miscellaneous */

.size-change {
    width: 80vw;
    

}

.multi-info {
    display: flex;
    justify-content: space-between;
}

.multi-info > * {
    margin: 5px;
}

.high-margin {
    margin-left: 20px;
    margin-right: 20px;
}

.icon {
    transform: translateY(4.5px);
}

.trans {
    filter: opacity(0.75)
}

.center {
    text-align: center;
}

/* Buttons */

label[for] {
    cursor: pointer;
    user-select: none;
}

button {
    cursor: pointer;
}

.button_1 {
    /* This is not modified by the effect, but does make it look more complete. */
    border: solid 1px var(--x);
  
    /* Effect */
    background: none;
    background-image: linear-gradient(180deg, transparent 50%, var(--x) 50%);
    background-size: 220% 220%;
    background-position-y: 0%;
    transition: all 0.2s cubic-bezier(0.25, 1, 0.5, 1);
    color: var(--x);
    /* Extra Styles */
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
}
  
.button_1:hover {
    background-position-y: 92.5%;
    transition: all 0.2s cubic-bezier(0.25, 1, 0.5, 1);
    color: var(--c);
}

.button_checkbox {
    width: 20px;
    height: 20px;
    background-color: var(--c);

    border-radius: 5px;

    border: none;

    transition: 0.2s ease
}

.button_checkbox:hover {
    filter: brightness(0.95)
}

.button_checkbox[checked="true"] {
    background-color: var(--brand);
}

.button_checkbox > svg {
    transform: translateX(-1px) translateY(-1px);
}

.button_min {
    width: 27px;
    padding: 5px 8px 5px 8px;
    font-weight: bold;
    border-radius: 50%;
}

/* Flex */

.flex_1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Inputs */

.input_text {
    /* This is not modified by the effect, but does make it look more complete. */
    border: none;
    border-bottom: dashed 1px var(--x);
  
    /* Effect */
    background: none;
    background-image: linear-gradient(180deg, transparent 50%, var(--c) 50%);
    background-size: 220% 220%;
    background-position-y: 0%;
    transition: all 0.2s cubic-bezier(0.25, 1, 0.5, 1);
    color: var(--x);
    /* Extra Styles */
    padding: 5px 15px 5px 15px;
    font-weight: 500;
    cursor: text;
}

.input_text:focus,
.input_text:hover {
    stroke: none;
    outline: none;
    background-position-y: 92.5%;
    transition: all 0.2s cubic-bezier(0.25, 1, 0.5, 1);
    color: var(--z);
}

.input_number {
    /* This is not modified by the effect, but does make it look more complete. */
    border: solid 1px var(--y);
  
    /* Effect */
    background: none;
    background-image: linear-gradient(180deg, transparent 50%, #88888822 50%);
    background-size: 220% 220%;
    background-position-y: 0%;
    transition: all 0.2s cubic-bezier(0.25, 1, 0.5, 1);
    color: var(--x);
    /* Extra Styles */
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
    font-weight: 500;
    cursor: text;
    width: 48px;
}

.input_number:focus,
.input_number:hover {
    stroke: none;
    outline: none;
    background-position-y: 92.5%;
    transition: all 0.2s cubic-bezier(0.25, 1, 0.5, 1);
    color: var(--x);
}

/* Modulecard */
.modulecard {
    display:flex;

    background-color: var(--c);
    margin-top: 12px;
    padding: 8px 16px 8px 16px;

    border-radius: 16px;

    align-items: center;

    /* it must be 128 */
    height: 128px;
    max-height: 128px;
    min-height: 128px;
}

.modulecard > div {
    margin: 10px;
}

.modulecard h3 {
    line-height: 0.1;
    color: var(--x);
    letter-spacing: 0.75pt;
    margin-top: 0.5em;
}

.modulecard h1 {
    line-height: 0.1;
    color: var(--x);
    letter-spacing: 0.75pt;
    margin-top: 0.5em;
}

.modulecard span {
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;

    color: var(--w);

    width: 48vw;
}

.modulecard_image {
    height: 111px;
    width: 111px;
    object-fit: cover;
    object-position: top left;

    background-color: var(--d);
    border-radius: 12px;
}

.modulecard_text {
    width: 100%;
}

/* Releasecard */
.releasecard {
    background-color: var(--d);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

/* Card */
.card {
    margin: 10px 0px 10px;
    width: 100%;
    background-color: var(--c);
    padding: 8px 16px 8px 16px;

    border-radius: 16px;
}

/* Tags */

.tags_list {
    display: block;
    white-space: nowrap;
}

.tags_item {
    margin: 4px;
    cursor: default;
}

@media (pointer: none), (pointer: coarse) {
    .modulecard_footerentry {
        display: none;
    }
}